@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * https://opensource.org/licenses/MIT
 */

body {
  padding-top: 60px;
  
}
input[type=checkbox]
{
  -webkit-appearance:checkbox;
}
.navbar-static-top{
	background-color:rgb(1,36,72);
}